
<body>
<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/img/simpleFridge4.png" alt="">
            </a>
        </div>
        <!--Desktop Nav-->
        <div class="navbar-menu">
            <div class="navbar-end">
                <!--<a class="navbar-item" href="/about">About</a>-->
                <a class="navbar-item" href="/charity">Donate</a>
                <a class="navbar-item" href="/recipe">Recipes</a>
                <a class="navbar-item" href="/bmi">Calculators</a>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <br>

    </div>
    <div class="content">

        "Simple Fridge is an idea that is centered around simplicity. Founded by Sam, Tim, James & Khalid, we have decided to make
finding what you actually eat, simple. Our food system—the way in which food is grown and distributed—is complicated, and
making good choices for your family can be difficult. We here at Simple Fridge are changing that: By partnering with nutrition
experts, we are committed to helping people around the world build a better more complete diet.""
    </div>
</body>
<style media="screen">
  body {
    padding: auto;
    margin: auto;
    margin-bottom: 30px;
  }

  .navbar {
    background-color: #F3D352;
    padding-top: 12px;
    padding-bottom: 6px;
  }

  .navbar-item {
    color: black;
  }

  #buttonId {
    background-color: #419513;
  }

  .box {
    background-color: white;
    margin: 10px;
    text-align: center;
  }
</style>
