<body>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/img/simpleFridge4.png" alt="">
            </a>
        </div>
        <!--Desktop Nav-->
        <div class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="/about">About</a>
                <a class="navbar-item" href="/charity">Donate</a>
                <a class="navbar-item" href="/recipe">Recipes</a>
                <!--<a class="navbar-item" href="/bmi">Calculators</a>-->
            </div>
        </div>

    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="yz-widget" data-calculator-type="bmi" data-language="en" data-unit-system="imperial" data-background-color="#EEEEEE"
                    data-text-color="#212121" data-primary-color="#F3D352" data-alternate-background-color="#FFFFFF" data-alternate-text-color="#FFFFFF"
                    data-secondary-color="#FFC107">
                    <span class="yz-copyright">Powered by
                        <a href="https://www.yazio.com/en/bmi-calculator">YAZIO</a>
                    </span>
                </div>
                <script src="https://widget.yazio.com/calculator.js" async></script>
            </div>
            <div class="col">
                <div class="yz-widget" data-calculator-type="ideal_weight" data-language="en" data-unit-system="imperial" data-background-color="#EEEEEE"
                    data-text-color="#212121" data-primary-color="#F3D352" data-alternate-background-color="#EEEEEE" data-alternate-text-color="#FFFFFF"
                    data-secondary-color="#FFC107">
                    <span class="yz-copyright">Powered by
                        <a href="https://www.yazio.com/en/ideal-weight-calculator">YAZIO</a>
                    </span>
                </div>
                <script src="https://widget.yazio.com/calculator.js" async></script>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <div class="yz-widget" data-calculator-type="daily_need" data-language="en" data-unit-system="imperial" data-background-color="#EEEEEE"
                    data-text-color="#212121" data-primary-color="#F3D352" data-alternate-background-color="#FFFFFF" data-alternate-text-color="#FFFFFF"
                    data-secondary-color="#FFC107">
                    <span class="yz-copyright">Powered by
                        <a href="https://www.yazio.com/en/calorie-intake-calculator">YAZIO</a>
                    </span>
                </div>
                <script src="https://widget.yazio.com/calculator.js" async></script>
            </div>
            <div class="col">
                <div class="yz-widget" data-calculator-type="calories_burned" data-language="en" data-unit-system="imperial"
                    data-background-color="#EEEEEE" data-text-color="#212121" data-primary-color="#F3D352" data-alternate-background-color="#FFFFFF"
                    data-alternate-text-color="#FFFFFF" data-secondary-color="#FFC107">
                    <span class="yz-copyright">Powered by
                        <a href="https://www.yazio.com/en/calories-burned-calculator">YAZIO</a>
                    </span>
                </div>
                <script src="https://widget.yazio.com/calculator.js" async></script>
            </div>
        </div>
    </div>
    <section id="section">

    </section>

</body>
<style media="screen">
    body {
        padding: auto;
        margin: auto;
        margin-bottom: 30px;
    }

    .navbar {
        background-color: #F3D352;
        padding-top: 12px;
        padding-bottom: 6px;
    }


    .navbar-item {
        color: black;
    }

    .logo {
        float: right;
    }

    #buttonId {
        background-color: #419513;
    }

    .box {
        background-color: white;
        margin: 10px;
        text-align: center;
    }
</style>